
:root {
    --primary-color: #ffc83d;
    --secondary-color: #3498db;
    --success-color: #2ecc71;
    --warning-color: #d8c04a;
    --danger-color: #e74c3c;
}

body {
    background-color: #f8f9fa;
}

.navbar {
    background-color: var(--primary-color) !important;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar-brand {
    color: black !important;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
}

.container {
    max-width: 70vw;
    margin: 0 auto;
}

.card {
    border: 1px solid #dee2e6;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.table {
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.table thead th {
    background-color: var(--primary-color);
    color: black;
    border: none;
}

.btn {
    border-radius: 6px;
    padding: 8px 16px;

}

.form-control {
    border-radius: 6px;
    border: 1px solid #dee2e6;
}

.form-control:focus {
    border-color: var(--secondary-color);
    box-shadow: 0 0 0 0.2rem rgba(52, 152, 219, 0.25);
}



@keyframes highlightRowAdd {
    0% {
        background-color: rgba(46, 204, 113, 0.3);
    }

    50% {
        background-color: rgba(46, 204, 113, 0.3);
    }

    100% {
        background-color: transparent;
    }
}

@keyframes highlightRowUpdate {
    0% {
        background-color: rgba(28, 145, 218, 0.3);
    }

    50% {
        background-color: rgba(28, 145, 218, 0.3);
    }

    100% {
        background-color: transparent;
    }
}

@keyframes highlightRowIncrease {
    0% {
        background-color: rgba(46, 204, 113, 0.3);
    }

    50% {
        background-color: rgba(46, 204, 113, 0.3);
    }

    100% {
        background-color: transparent;
    }
}

@keyframes highlightRowDecrease {
    0% {
        background-color: rgba(243, 156, 18, 0.3);
    }

    50% {
        background-color: rgba(243, 156, 18, 0.3);
    }

    100% {
        background-color: transparent;
    }
}


.highlight-row-add {
    animation: highlightRowAdd 2s ease
}

.highlight-row-increase {
    animation: highlightRowIncrease 2s ease;
}

.highlight-row-update {
    animation: highlightRowUpdate 2s ease
}

.highlight-row-decrease {
    animation: highlightRowDecrease 2s ease;
}

tr.highlight-row-add td,
tr.highlight-row-update td,
tr.highlight-row-increase td,
tr.highlight-row-decrease td {
    background-color: transparent !important;
}


.quantity-indicator {
    position: absolute;
    left: -30px;
    top: 5px;
    transform: translateY(0);
    opacity: 0;
    animation: fadeUpAndOut 1s ease-out forwards;
    font-weight: bold;
    color: red;
    padding: 2px;
    z-index: 10;
}

@keyframes fadeUpAndOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}
